<html>
    <body>
        <h1>Listas de Livros</h1>
        <table>
            <thead>
               <tr>
                   <th>ID</th>
                   <th>Livros</th>
                   <th>Descrição</th>
                   <th>preço</th>
               </tr>
            </thead>
            <tbody>
                <%listas.forEach(function(lista){%>
                    <tr>
                        <td><%=lista.id%></td>
                        <td><%=lista.titulo%></td>
                        <td><%=lista.descricao%></td>
                        <td><%=lista.preco%></td>
                    </tr>
                <%})%>
            </tbody>
        </table>
    </body>
</html>